<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">click to create a celebrity</a><br>
<a href="/celebrities">click to view celebrities</a><br>
<a href="/movies/create">click to create a movie</a><br>
<a href="/movies">click to view movies</a>